- cache([:user, user.id]) do
  .col-xs-12.col-sm-3.col-md-2.text-center
    = image_tag(user.avatar_url, alt: "#{user.username}’s avatar")
    %h3= user.name
    - if user.bio?
      %p= user.bio
    %p
      %span.glyphicon.glyphicon-user
      Followers:
      = number_with_delimiter(user.followers_count)
    %p
      %span.glyphicon.glyphicon-star
      Following:
      = number_with_delimiter(user.following_count)
    %p
      %span.glyphicon.glyphicon-list
      Playlists:
      = number_with_delimiter(user.playlists_count)
