- cache([:artwork, page]) do
  = render('shared/header')
  .container-fluid= render(@artworks)
  %nav.text-center
    %ul.pagination.pagination-lg
      %li{class: (:disabled unless page > 1)}
        = link_to('Previous', artworks_page_path(-1))
      - pagination_buttons.each do |p|
        %li.hidden-xs{class: (:active if page == p)}
          = link_to(p, artworks_path(p))
      %li= link_to('Next', artworks_page_path(+1))
